<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/Logo UIN (2).png') }}"
    style="width: 100%; height: 100%;">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,900' rel='stylesheet'
        type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
    <!-- // Fonts -->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Simple line icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
        rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <title>Lab TI</title>
</head>
<body>
    <!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Laboratorium Teknik Industri</h1>
        <h3 class="mb-5"><em>Universitas Sultan Syarif Kasim Riau</em></h3>
        <a class="btn btn-primary" href="#conference-timeline">Find Out Here</a>
    </div>
</header>
<!-- About-->
    <!-- Vertical Timeline -->
    <section id="conference-timeline">
        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">
            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p>
                            LABORATORIUM DESAIN SISTEM KERJA DAN ERGONOMI <span class="article-number">01</span></p>
                    </div>
                    <div style="text-align: right;">
                        <a href="https://ti.uin-suska.ac.id/laboratorium-desain-sistem-kerja-dan-ergonomi/">Click
                            here</a>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p>Laboratorium Desain Sistem Kerja dan Ergonomi
                            Program Studi Teknik Industri Fakultas Sains dan Teknologi
                            Universitas Islam Negeri Sultan Syarif Kasim Riau
                            <span class="article-number">01</span>
                        </p>
                    </div>
                    <span class="timeline-author"></span>
                </div>
                <div class="meta-date">
                    <span class="date">Lab</span>
                    <span class="month">FST</span>
                </div>
            </div>
            <!-- // Article -->

            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p>LABORATORIUM MENGGAMBAR TEKNIK <span class="article-number">02</span></p>
                    </div>
                    <div style="text-align: right;">
                        <a href="https://ti.uin-suska.ac.id/laboratorium-menggambar-teknik/">Click
                            here</a>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p>Laboratorium Menggambar Teknik
                            Program Studi Teknik Industri Fakultas Sains dan Teknologi
                            Universitas Islam Negeri Sultan Syarif Kasim Riau <span class="article-number">02</span></p>
                    </div>
                    <span class="timeline-author"></span>
                </div>
                <div class="meta-date">
                    <span class="date">Lab</span>
                    <span class="month">Terpadu</span>
                </div>
            </div>
            <!-- // Article -->

            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p>LABORATORIUM HALAL INDUSTRI<span class="article-number">03</span></p>
                    </div>
                    <div style="text-align: right;">
                        <a href="https://ti.uin-suska.ac.id/laboratorium-halal-industri/">Click
                            here</a>
                    </div></span>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p>Laboratorium Halal Industri
                            Program Studi Teknik Industri Fakultas Sains dan Teknologi
                            Universitas Islam Negeri Sultan Syarif Kasim Riau <span class="article-number">03</span></p>
                    </div>
                    <span class="timeline-author"></span>
                </div>
                <div class="meta-date">
                    <span class="date">Lab</span>
                    <span class="month">Terpadu</span>
                </div>
            </div>
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p>LABORATORIUM SIMULASI DAN ANALITIKA DATA<span class="article-number">04</span></p>
                    </div>
                    <div style="text-align: right;">
                        <a href="https://ti.uin-suska.ac.id/laboratorium-simulasi-dan-analitika-data/">Click
                            here</a>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p>Laboratorium Simulasi dan Analitika Data
                            Program Studi Teknik Industri Fakultas Sains dan Teknologi
                            Universitas Islam Negeri Sultan Syarif Kasim Riau<span class="article-number">04</span>
                        </p>
                    </div>
                    <span class="timeline-author"></span>
                </div>
                <div class="meta-date">
                    <span class="date">Lab</span>
                    <span class="month">Terpadu</span>
                </div>
            </div>
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p>LABORATORIUM SISTEM PRODUKSI<span class="article-number">05</span></p>
                    </div>
                    <div style="text-align: right;">
                        <a href="https://ti.uin-suska.ac.id/laboratorium-sistem-produksi/">Click
                            here</a>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p>Laboratorium Sistem Produksi
                            Program Studi Teknik Industri Fakultas Sains dan Teknologi
                            Universitas Islam Negeri Sultan Syarif Kasim Riauu<span class="article-number">05</span>
                        </p>
                    </div>
                    <span class="timeline-author"></span>
                </div>
                <div class="meta-date">
                    <span class="date">Lab</span>
                    <span class="month">FST</span>
                </div>
            </div>
            <!-- // Article -->
        </div>
    </section>
    <!-- // Vertical Timeline -->
<!-- Services-->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Struktur Organisasi</h3>
            <h2 class="mb-5">Labor Teknik Industri</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-12 col-md-12 mb-12 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><img
                        src="/static/images/harpito.jpeg"></i></span>
                <h4><strong>Kepala Laboratorium</strong></h4>
                <h4><strong>Teknik Industri</strong></h4>
                <p class="text-faded mb-2">Harpito, S.T.,MT.</p>
                <li class="list-inline-item">
                    <a class="social-link rounded-box text-white mr-10"
                        href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-social-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-envelope"></i></a>
                </li>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><img src="/static/images/aziz.jpeg"></i></span>
                <h4><strong>Asisten Laboratorium</strong></h4>
                <h4><strong>Teknik Industri</strong></h4>
                </h4>
                <p class="text-faded mb-0" "above-text">Aziz Yahya</p>
                (12050210478)
                <div>
                    <li class="list-inline-item">
                        <a class="social-link rounded-box text-white mr-10"
                            href="https://instagram.com/azizyahya_?igshid=MzRlODBiNWFlZA=="><i
                                class="icon-social-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.facebook.com/aziz.yahya.1291?mibextid=nW3QTL"><i
                                class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-envelope"></i></a>
                    </li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><img src="/static/images/far.jpeg"></i></span>
                <h4><strong>Asisten Laboratorium</strong></h4>
                <h4><strong>Teknik Industri</strong></h4>
                </h4>
                <p class="text-faded mb-0" "above-text">Farhan Amin</p>
                (12050216233)
                <div>
                    <li class="list-inline-item">
                        <a class="social-link rounded-box text-white mr-10"
                            href="https://instagram.com/farhan.amiin?igshid=MzRlODBiNWFlZA=="><i
                                class="icon-social-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.facebook.com/farhan.amin.3663?mibextid=nW3QTL"><i
                                class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-envelope"></i></a>
                    </li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><img src="/static/images/dit.jpeg"></i></span>
                <h4><strong>Asisten Laboratorium</strong></h4>
                <h4><strong>Teknik Industri</strong></h4>
                </h4>
                <p class="text-faded mb-0">Raditya Adha Reflian</p> (12050212258)
                <div>
                    <li class="list-inline-item">
                        <a class="social-link rounded-box text-white mr-10"
                            href="https://instagram.com/rradityaadha.r?igshid=MzRlODBiNWFlZA=="><i
                                class="icon-social-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.facebook.com/raditya.reflian?mibextid=nW3QTL"><i
                                class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-envelope"></i></a>
                    </li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0"">
                <span class=" service-icon rounded-circle mx-auto mb-3"><img src="/static/images/han.jpeg"></i></span>
                <h4><strong>Asisten Laboratorium</strong></h4>
                <h4><strong>Teknik Industri</strong></h4>
                </h4>
                <p class="text-faded mb-0" "above-text">
                    Raihan Pramudia</p> (12050213312)
                <div>
                    <li class="list-inline-item">
                        <a class="social-link rounded-box text-white mr-10"
                            href="https://instagram.com/raihanpramudiaa?igshid=MzRlODBiNWFlZA=="><i
                                class="icon-social-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.facebook.com/profile.php?id=100073739561476&mibextid=nW3QTL"><i
                                class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-envelope"></i></a>
                    </li>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><img src="/static/images/gita.jpeg"></i></span>
                <h4><strong>Asisten Laboratorium</strong></h4>
                <h4><strong>Teknik Industri</strong></h4>
                </h4>
                <p class="text-faded mb-0" "above-text">
                    Gita Shakila Palupi</p> (12050223162)
                <div>
                    <li class="list-inline-item">
                        <a class="social-link rounded-box text-white mr-10"
                            href="https://instagram.com/gitaashakilaap?igshid=MzRlODBiNWFlZA=="><i
                                class="icon-social-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.facebook.com/gita.shakila.18?mibextid=nW3QTL"><i
                                class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3"
                            href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-envelope"></i></a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Callout-->
<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
    </div>
</section>
<!-- Portfolio-->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">3D printing</div>
                            <p class="mb-0">Dikenal sebagai manufaktur aditif, adalah proses pembuatan
                                objek fisik tiga dimensi melalui pengendapan material secara bertahap</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/3d printing.jpeg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Laser Cuting</div>
                            <p class="mb-0">Laser cutting adalah proses pemotongan material dengan menggunakan sinar
                                laser yang terfokus
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/luser cutting.png" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Mesin Potong Oscar</div>
                            <p class="mb-0">Mesin potong Oscar memiliki beberapa keunggulan utama. Pertama, mesin ini
                                memiliki presisi tinggi dalam pemotongan, menghasilkan potongan yang akurat dan
                                berkualitas tinggi.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/mesin potong oscar.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Sepeda Statis</div>
                            <p class="mb-0">Sepeda statis memiliki desain yang khusus untuk penggunaan dalam ruangan dan
                                tidak memiliki kemampuan untuk bergerak atau melaju seperti sepeda biasa.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/ST.jpeg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">CIM</div>
                            <p class="mb-0">CIM adalah pendekatan manufaktur yang menggabungkan sistem komputer dan
                                teknologi informasi dengan proses produksi untuk meningkatkan efisiensi, fleksibilitas,
                                dan kualitas.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/CIM.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">CNC Plasma</div>
                            <p class="mb-0">CNC plasma adalah teknologi pemotongan logam yang menggunakan plasma yang
                                dihasilkan dari reaksi gas terionisasi untuk memotong bahan logam.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/CNC PLASMA.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Mesin Bubut</div>
                            <p class="mb-0">Mesin bubut adalah mesin perkakas yang digunakan untuk memotong, membentuk,
                                dan menghasilkan produk berbentuk silinder.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/Mesin bubut.png" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Mesin Las</div>
                            <p class="mb-0">Mesin las adalah perangkat yang digunakan untuk menggabungkan dua atau lebih
                                bahan logam dengan menggunakan panas tinggi.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/mesin las.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Mesin Gerinda Tangan</div>
                            <p class="mb-0">Mesin gerinda tangan dapat digunakan untuk berbagai jenis pekerjaan,
                                termasuk memotong logam atau bahan lain, menghaluskan permukaan, mengasah mata bor atau
                                pahat, membersihkan permukaan yang karat atau berkarat, dan bahkan untuk polising atau
                                finishing detail pada material.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/Mesin gerinda tangan.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Mesin Frais</div>
                            <p class="mb-0">Mesin frais adalah sebuah mesin perkakas yang digunakan untuk menghasilkan
                                permukaan yang rata dan berbagai bentuk dengan menggunakan pahat berputar.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/mesin frais.png" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Gerinda Duduk</div>
                            <p class="mb-0">Gerinda duduk adalah sebuah mesin perkakas yang digunakan untuk mengasah,
                                memoles, atau membentuk benda kerja dengan menggunakan pahat berputar.
                            </p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/Gerinda duduk.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Bor Duduk</div>
                            <p class="mb-0">Bor duduk adalah mesin perkakas yang dirancang khusus untuk melakukan
                                pengeboran pada benda kerja dengan presisi tinggi.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/Bor duduk.jpg" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Bor Tangan</div>
                            <p class="mb-0"> Bor tangan adalah alat perkakas portabel yang digunakan untuk melakukan
                                pengeboran lubang pada berbagai jenis material.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="/static/images/Bor tangan.jpg" alt="..." />
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action-->
<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Industrial Engineering Lab Location</h2>
        <a class="btn btn-xl btn-light me-4" href="#contact">Click Here</a>
        <!-- <a class="btn btn-xl btn-dark" href="#footer text-center">Social Media</a> -->
    </div>
</section>
<!-- Map-->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.685568203196!2d101.35333777472347!3d0.46739389952803034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d5a83addafa06d%3A0xa1ac9013312424ec!2sLaboratorium%20Fakultas%20Sains%20%26%20Teknologi%20UIN%20SUSKA%20RIAU!5e0!3m2!1sid!2sid!4v1718137073136!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="https://www.facebook.com/ti.uinsuskariau"><i class="icon-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="https://www.youtube.com/@ti.uinsuskariau"><i class="icon-social-youtube"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="https://www.instagram.com/ti.uinsuskariau/"><i class="icon-social-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="mailto:teknik.industri@uin-suska.ac.id"><i class="icon-envelope"></i></a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; TI Website 2023</p>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{{ url_for('static', filename='images/gears.png' ) }}"
                            style="width: 50px; height: 50px; bottom: 1rem;">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat Industri</h4>
                        <p class="chatbox__description--header">Hai friends. Adakah yang bisa saya bantu?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Tulis disini...">
                    <button class="chatbox__send--footer send__button">Kirim</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button>
                    <img src="{{ url_for('static', filename='images/chatbotuser.jpeg' ) }}"
                        style="width: 50px; height: 50px;">
                </button>
            </div>
        </div>
    </div>

<!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://kit.fontawesome.com/90a826ebd8.js" crossorigin="anonymous"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</body>
</html>